@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
html,
body {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.edit-img img, .view-img img{
    width: 150px !important;
    height: 150px !important;
}

#alert-div{
    display: none;
}

.comment-wrap{
    height: 150px;
}

.comment-wrap h3{
    text-align: center;
}

.comment-date{

}

.comment-body{

}

.left-panel{
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    overflow: hidden;
}

.main-container{
    height: 100%;
    overflow: auto;
}

.second-wrap{
    height: 100%;
}

#main-wrap{
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    background-image: url("../main-bg.jpg");
    background-size: 100% 100%;
}

.logo{
    width: 100%;
    height: 25%;
    float: left;
    background-color: rgba(51, 51, 51, 0.4);
}

#logo{
    position: relative;
    left: 30%;
    top: 17%;
    width: 35%;
    height: 60%;
}

.nav-bar{
    width: 100%;
    height: 42%;
    float: left;
    background-color: rgba(51, 51, 51, 0.4);
}

/*BLUR MENU*/
.bmenu{
    padding: 0px;
    margin: 0 0 0 0;
    position: relative;
}
.bmenu li{
    font-size: 2em;
    display: block;
}
.bmenu li a{
    text-align: center;
    display: block;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #000;
    color: #fff;
    padding: 5px 20px;
    margin: 3px;
    background: #1a75ce;
    letter-spacing: 1px;
    border-radius: 10px;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    transform: skew(-15deg);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.bmenu:hover li a{
    border-radius: 0px;
    color: transparent;
    background: #777;
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
}
.bmenu li a:hover{
    text-decoration: none;
    background: transparent;
    text-shadow: 3px 3px 5px #111;
    color: #1a75ce;
}
.bmenu li a:focus{
    text-decoration: none;
}

.social{
    width: 100%;
    height: 23%;
    float: left;
    background-color: rgba(51, 51, 51, 0.4);
}

.menu-footer{
    width: 100%;
    height: 10%;
    float: left;
    background-color: rgba(92, 92, 92, 0.4);
    text-align: center;
    font-size: 12pt;
    color: #7bd2dc;
    padding-top: 8%;
}

.social{
    padding-top: 20%;
}

.social-icons{
    border-radius: 50%;
    text-align: center;
}

.social-icons img{
    width: 32px;
    height: 32px;
}
.social-icons a{
    margin: 10px;
}

.main-container{
    /*background-image: url("../web/main-bg.jpg");*/
    /*background-size: 100% 100%;*/
}

#modal-comment .modal-content{
    background-color: #266;
}

#modal-comment h2, #modal-comment label{
    color: #fff;
}

#sendComm{
    background-color: #D58500;
    width: 100%;
    margin: 0 auto;
    font-size: 12pt;
}

#close-modal {
    background-color: #5e5e5e;
    color: #fff;
    font-size: 11pt;
}

.comment-wrap{
    color: #fff;
}

.body-content, .site-index{
    height: 100%;
}

.main-page{
    overflow: visible;
    padding-top: 17%;
    padding-left: 10%;
    height: 100%;
    color: #fff;
}

.main-page h1{
    font-size: 5em;
}

.main-page h2{
    font-size: 3.5em;
}

.main-page p{
    margin-top: 100px;
    font-size: 2em;
    word-wrap: break-word;
}

#leave-com{
    display: block;
    background-color: #e38d13;
    border: none;
    position: fixed;
    right: -43px;
    top: 30%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: background-color 1s;
    transition: background-color: 1s;
}

#leave-com:hover{
    background-color: #985EFF;
    -webkit-transition: background-color 1s;
    transition: background-color: 1s;
}